{% extends 'plp_listings/base.html' %}

{% block body %}
    {% if images.exists %}
        <div id="{{listing.id}}" class="carousel slide rounded-4 overflow-hidden">
            <div class="carousel-indicators">
                {% for image in images %}
                    <button type="button" data-bs-target="#{{listing.id}}" 
                            data-bs-slide-to="{{ forloop.counter0 }}" 
                            class="{% if forloop.first %}active{% endif %}" 
                            {% if forloop.first %}aria-current="true"{% endif %} 
                            aria-label="Slide {{ forloop.counter }}">
                    </button>
                {% endfor %}    
            </div>
            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{image.image.url}}" class="d-block" alt="listing-image" style="width: 100%; height: 425px; object-fit: cover;">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#{{listing.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{listing.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <img src="/static/plp_listings/listing-image-placeholder.jpg" class="rounded-4" alt="listing-image-placeholder" style="width: 100%; height: 425px; object-fit: cover;">
    {% endif %}

    <div class="row my-3">
        <div class="col-md-8">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <div class="d-flex align-items-center">
                    {% if listing.status == "A" %}
                        <i class="bi bi-circle-fill text-success me-1"></i>
                    {% elif listing.status == "P" %}
                        <i class="bi bi-circle-fill text-warning me-1"></i>
                    {% elif listing.status == "C" %}
                        <i class="bi bi-circle-fill text-danger me-1"></i>
                    {% endif %}
                    {{ listing.get_status_display }}
                </div>
                <span class="badge rounded-pill bg-light border">Listed {{ listing.date_posted|timesince }} ago</span>
            </div>
            <h2 class="text-black fw-bold">${{ listing.price }}</h2>
            <div class="d-flex mb-2">
                <div class="me-3"><span class="fw-bold text-black">{{ listing.bedrooms }}</span> bed</div>
                <div class="me-3"><span class="fw-bold text-black">{{ listing.bathrooms }}</span> bath</div>
                <div class="me-3"><span class="fw-bold text-black">{{ listing.get_property_type_display }}</span></div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="mb-0">{{ listing.title }}</h4>
                    <div>{{ listing.location }}</div>
                </div>
                <form action="{% url 'favorite' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-light px-2 align-item-center" style="border-radius: 50%; width: 48px; height: 48px;" title="Favorite">
                        {% if user in listing.favorited_by.all %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>
                        {% endif %}
                    </button>
                </form>
            </div>
            <hr />
            <div>{{ listing.description|linebreaks }}</div>
            
            {% if user.is_authenticated and user == listing.owner %}
                <hr/>
                <div class="d-flex align-items-center gap-2">
                    <a href="{% url 'edit_listing' listing.id %}" class="btn btn-primary"><i class="bi bi-pencil-square me-2"></i> Edit Listing</a>
                    <a href="{% url 'delete_listing' listing.id %}" class="btn btn-danger"><i class="bi bi-trash-fill me-2"></i> Delete Listing</a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card p-4 shadow border-2 border-primary rounded-4 ">
                <h5 class="mb-4 text-center">Contact The Owner</h5>
                <div class="d-flex justify-content-center mb-1">
                    <img src="{{ listing.owner.profile.profile_picture.url }}" class="border border-3 border-primary p-1" style="width: 100px; height: 100px; object-fit: cover; object-position: center; border-radius: 100%"><img>
                </div>
                <p class="text-center mb-4">{{ listing.owner.get_full_name }}</p>
                <p class="text-info"><i class="bi bi-envelope me-2"></i>{{ listing.owner.email }}</p>
                {% if listing.owner.profile.phone_number %}
                    <p class="text-info"><i class="bi bi-telephone me-2"></i>{{ listing.owner.profile.phone_number }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}